body {
    background-color: #040404;
    
}

.btn {
    background-color: transparent;
    padding-top: 2px;
    border: white 5px solid;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    color: white;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-shadow: 0.5px 0.5px 1px #040404;
    box-shadow: 0.5px 0.5px 1px #040404;
}

.backboard {
    width: 1600px;
    height: 350px;
    background: #0d20e8; /* Old browsers */
    background: -moz-linear-gradient(left, #0d20e8 0%, #9f37ef 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0d20e8 0%,#9f37ef 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0d20e8 0%,#9f37ef 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d20e8', endColorstr='#9f37ef',GradientType=1 ); /* IE6-9 */
    border-radius: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 80px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0.5px 0.5px 1px #040404;
    box-shadow: 0.5px 0.5px 1px #040404;
}

.scoreboard{
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}

.player{
    position: absolute;
    left: 200px;
    
}

.cpu {
    position: absolute;
    right: 200px;
}